.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar.logo{
    width: max(10%,80px);
}

.navbar .profile{
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 5px;
    /* #bdbdbd */
    background-color: #8d8b8b;
    font-size: 40px;
    color: white;
    border-radius: 50%;
    box-shadow: #bdbdbd 0px 0px 10px;
    cursor: pointer;
}